@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-border: hsl(var(--border));
  --color-input: hsla(var(--input));
  --color-ring: hsl(var(--ring));
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: 0 0% 96%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 14.5%;
  --primary: 0 0% 20.5%;
  --primary-foreground: 0 0% 98.5%;
  --secondary: 0 0% 97%;
  --secondary-foreground: 0 0% 20.5%;
  --muted: 0 0% 97%;
  --muted-foreground: 0 0% 55.6%;
  --accent: 0 0% 97%;
  --accent-foreground: 0 0% 20.5%;
  --destructive: 0 84.2% 60.2%;
  --border: 0 0% 75%;
  --input: 0 0% 92.2%;
  --ring: 0 0% 70.8%;
  --sidebar: 0 0% 98.5%;
  --sidebar-foreground: 0 0% 14.5%;
  --sidebar-primary: 0 0% 20.5%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 97%;
  --sidebar-accent-foreground: 0 0% 20.5%;
  --sidebar-border: 0, 0%, 0%, 0;
  --sidebar-ring: 0 0% 70.8%;
  --radius: 0.5rem;
  --chart-1: 215 20.2% 65.1%;
  --chart-2: 244.5 77.3% 58.8%;
  --chart-3: 215.3 19.3% 34.5%;
  --chart-4: 214.3 31.8% 91.4%;
  --chart-5: 217.2 32.6% 17.5%;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 5%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 12%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 0 0% 98.5%;
  --primary-foreground: 0 0% 12%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 18%;
  --muted-foreground: 0 0% 63%;
  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 0 84.2% 60.2%;
  --border: 0 0% 15%;
  --input: 0, 0%, 0%, 0;
  --ring: 0 0% 40%;
  --sidebar: 0 0% 5%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 220 90% 56%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 26.9%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 100% / 10%;
  --sidebar-ring: 0 0% 43.9%;
  --chart-1: 210 40% 98%;
  --chart-2: 244.5 77.3% 58.8%;
  --chart-3: 215 20.2% 65.1%;
  --chart-4: 215.3 19.3% 34.5%;
  --chart-5: 217.2 32.6% 17.5%;
}

@layer base {
  * {
    border-color: hsl(var(--border) / 1);
    outline-color: hsl(var(--ring) / 0.5);
  }

  html,
  body {
    background-color: hsl(var(--background) / 1);
    color: hsl(var(--foreground) / 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
